@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}






a.active{
  @apply border-b-4 border-pink-500 text-pink-500
}

@keyframes loadingBar {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}